- name: Setup NodeJS repos
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash

- name: Load App pre-requisites
  ansible.builtin.include_tasks: "app_preq.yaml"

- name: Install NodeJS dependencies
  community.general.npm:
    path: "{{ app_loc }}"
    state: present

- name: Load Systemd
  ansible.builtin.include_tasks: "systemd.yaml"

- name: Load Schema
  ansible.builtin.include_tasks: "{{schema_type}}-schema.yaml"
  when: schema_load